h1{

  color: red;
}
{
.new

}
.pic{
  width:800px
  height:800px
}
body{




}
.containerTitle{
  padding: 50px 0;



}
.title{

  padding: 10px 50px;
}



.left{

float-left: 250pc;

}

.right{



float-right: 250px;

}
